
<EditForm Model="Vm" OnValidSubmit="Submit">
    <div class="form-group row ">
        <div class="col-sm-2">
            <label class="col-form-label" for="position">Позиция по проекту</label>
        </div>
        <div class="col-sm-4">
            <InputText id="position" class="form-control" disabled="@Disabled" @bind-Value="Vm.Position"></InputText>
        </div>
    </div>
    <div class="form-group row ">
        <div class="col-sm-2">
            <label class="col-form-label" for="serial-number">Серийный номер</label>
        </div>
        <div class="col-sm-4">
            <InputText id="serial-number" class="form-control" disabled="@Disabled" @bind-Value="Vm.SerialNumber"></InputText>
        </div>
    </div>
    <div class="form-group row ">
        <div class="col-sm-2">
            <label class="col-form-label" for="constructed-by">Ответственный за монтаж</label>
        </div>
        <div class="col-sm-4">
            <InputText id="constructed-by" class="form-control" disabled="@Disabled" @bind-Value="Vm.ConstructedBy"></InputText>
        </div>
    </div>
    <div class="form-group row ">
        <div class="col-sm-2">
            <label class="col-form-label" for="constructed">Дата завершения монтажа</label>
        </div>
        <div class="col-sm-4">
            <InputDate id="constructed" class="form-control" disabled="@Disabled" @bind-Value="Vm.Constructed"></InputDate>
        </div>
    </div>
</EditForm>


@code {

    [Parameter]
    public CabinetVm Vm { get; set; }

    public bool Disabled { get; set; } = true;

    void Submit()
    {

    }

}
