@using CheckerApp.Shared.Models.Commands

<div class="mb-2 row">
    <div class="col">
        <MatTextField Label="Позиция по проекту" @bind-Value="Value.Position" Outlined="true" Style="width: 100%;"></MatTextField>
        <ValidationMessage For="()=> Value.Position"></ValidationMessage>
    </div>
</div>
<div class="mb-2 row">
    <div class="col">
        <MatTextField Label="Серийный номер" @bind-Value="Value.SerialNumber" Outlined="true" Style="width: 100%;"></MatTextField>
        <ValidationMessage For="()=> Value.SerialNumber"></ValidationMessage>
    </div>
</div>
<div class="mb-2 row">
    <div class="col">
        <MatTextField Label="Ответственный за монтаж" @bind-Value="Value.ConstructedBy" Outlined="true" Style="width: 100%;"></MatTextField>
        <ValidationMessage For="()=> Value.ConstructedBy"></ValidationMessage>
    </div>
</div>
<div class="row">
    <div class="col">
        <MatDatePicker Label="Дата завершения монтажа" AllowInput="false" @bind-Value="Value.Constructed" Outlined="true" Style="width: 100%;"></MatDatePicker>
        <ValidationMessage For="()=> Value.Constructed"></ValidationMessage>
    </div>
</div>

@code {

    [Parameter]
    public CreateHardwareCommandVm Value { get; set; }

    [Parameter]
    public EventCallback<CreateHardwareCommandVm> ValueChanged { get; set; }
}
