
<div class="border p-2">
    <div class="">
        <MatNumericUpDownField Label="Адрес устройства" @bind-Value="Value.Address" Minimum="1" Maximum="256" Outlined="true" Style="width:100%;">
        </MatNumericUpDownField>
    </div>
    <div class="mb-2">
        <MatSelect Label="Baud rate" @bind-Value="Value.BoudRate" Outlined="true" FullWidth="true">
            <MatOptionString Value="9600">9600</MatOptionString>
            <MatOptionString Value="19200">19200</MatOptionString>
            <MatOptionString Value="38400">38400</MatOptionString>
            <MatOptionString Value="57600">57600</MatOptionString>
            <MatOptionString Value="115200">115200</MatOptionString>
        </MatSelect>
    </div>
    <div class="mb-2">
        <MatSelectItem Label="Parity" @bind-Value="Value.Parity" Items="parity"
                       Outlined="true" FullWidth="true">
        </MatSelectItem>
    </div>
    <div class="mb-2">
        <MatSelect Label="Data bits" @bind-Value="Value.DataBits" Outlined="true" FullWidth="true">
            <MatOptionString Value="7">7</MatOptionString>
            <MatOptionString Value="8">8</MatOptionString>
        </MatSelect>
    </div>
    <div class="">
        <MatSelect Label="Stop bit" @bind-Value="Value.StopBit" Outlined="true" FullWidth="true">
            <MatOptionString Value="1">1</MatOptionString>
            <MatOptionString Value="1.5">1.5</MatOptionString>
            <MatOptionString Value="2">2</MatOptionString>
        </MatSelect>
    </div>
</div>

@code {

    [Parameter]
    public EventCallback<ModbusSettingsVm> ValueChanged { get; set; }

    [Parameter]
    public ModbusSettingsVm Value { get; set; }

    Parity[] parity = Enum.GetValues(typeof(Parity)).Cast<Parity>().ToArray();
}