@page "/about"

<div class="alert section-header p-4 mat-elevation-z5 ">

    <h2 class="border-bottom pb-4">
        О программе
    </h2>
    <h4 class="pb-2">CheckerApp</h4>
    <p>Программный комплекс предназначенный для автоматизации заводских испытаний СОИ коммерческих систем учета.</p>
    <p>Разработан в 2020 году по заказу отдела ПНРСУ <a href="http://incomsystem.ru"><span class="font-weight-bold">ЗАО НИЦ "ИНКОМСИСТЕМ"</span></a></p>
    <p>В случае обнаружения багов, а также с пожеланиями и предложениями по улучшению качества данного программного продукта обращаться по указанным ниже контактным данным.</p>
    <h5 class="pt-4 pb-2 border-bottom">Контакты:</h5>
    <p>Разработчик: <span>Буданов Артем Владимирович</span></p>
    <p>Телефон: <span>8 (843) 212-50-10 (доб. 2129)</span></p>
    <p>E-mail: <a href="mailto:artem.budanov@incomsystem.ru"><span>artem.budanov@incomsystem.ru</span></a></p>
</div>