@page "/contract/{id}/check"

@inject HttpClient HttpClient
@inject NavigationManager Navigation
@using System.Text.Json
@using CheckerApp.Shared.Common.JsonConverters
@using CheckerApp.Shared.Models.Commands

<div class="alert alert-secondary">
    <h2>Протокол испытаний оборудования СОИ</h2>
    <p>по договору @CheckResult.Contract?.Name, дог. @CheckResult.Contract?.ContractNumber, вн.проект @CheckResult.Contract?.DomesticNumber</p>
</div>

<EditForm Model="CheckResult" OnValidSubmit="Submit">

    @for (int i = 0; i < CheckResult.HardwareChecks.Count; i++)
    {
        var index = i;

        <HardwareCheckStatus @bind-Value="CheckResult.HardwareChecks[index]" />
    }

    <button type="submit" class="btn btn-success"> Отправить</button>

</EditForm>

@code {

    [Parameter]
    public string Id { get; set; }

    CheckResultVm CheckResult { get; set; } = new CheckResultVm();

    JsonSerializerOptions JsonOptions { get; set; }

    string json;

    protected async override Task OnInitializedAsync()
    {
        JsonOptions = new JsonSerializerOptions
        {
            PropertyNameCaseInsensitive = true,
            Converters = { new HardwareConverter() }
        };

        CheckResult = await HttpClient.GetFromJsonAsync<CheckResultVm>($"api/check/{int.Parse(Id)}", JsonOptions);
    }

    protected async Task Submit()
    {
        var command = new UpsertCheckResultCommandVm { CheckResult = CheckResult };
        var result = await HttpClient.PostAsJsonAsync($"api/check", command, JsonOptions);

        if (result.IsSuccessStatusCode)
        {
            Navigation.NavigateTo("/");
        }
    }
}
