@page "/document/{id}"

@inject HttpClient HttpClient
@using System.Text.Json
@using CheckerApp.Shared.Common.JsonConverters

<div class="alert alert-primary">
    <h2>Протокол испытаний оборудования СОИ</h2>
    <p>по договору @ContractStatus.Name, дог. @ContractStatus.ContractNumber, вн.проект @ContractStatus.DomesticNumber</p>
</div>

<EditForm Model="ContractStatus" OnValidSubmit="Submit">

    @for (int i = 0; i < ContractStatus.HardwareChecks.Count; i++)
    {
        var index = i;
        
        <HardwareCheckStatus @bind-Value="ContractStatus.HardwareChecks[index]" />
    }

    <button type="submit" class="btn btn-success"> Отправить</button>

</EditForm>

@code {

    [Parameter]
    public string Id { get; set; }

    ContractCheckStatusVm ContractStatus { get; set; } = new ContractCheckStatusVm();

    JsonSerializerOptions JsonOptions { get; set; }

    protected async override Task OnInitializedAsync()
    {
        JsonOptions = new JsonSerializerOptions
        {
            PropertyNameCaseInsensitive = true,
            Converters = { new HardwareConverter() }
        };

        ContractStatus = await HttpClient.GetFromJsonAsync<ContractCheckStatusVm>($"api/document/{int.Parse(Id)}", JsonOptions);
    }

    protected async Task Submit()
    {
        var result = await HttpClient.PostAsJsonAsync($"api/document", ContractStatus, JsonOptions);
    }
}
