@page "/contracts"
@attribute [Authorize]

@inject HttpClient HttpClient
@inject NavigationManager NavigationManager


@if (ContractsList == null)
{
    <div class="spinner"></div>
}
else
{
    <h3>Список договоров</h3>
    <MatTable Items="@ContractsList.Contracts" Class="mat-elevation-z5" Striped="true" AllowSelection="true" OnRowDbClick="(item)=> NavigateTo(((ContractDetailVm)item).Id)">
        <MatTableHeader>
            <th style="min-width:250px;">Номер договора</th>
            <th style="min-width:250px;">Внутренний номер</th>
            <th>Название</th>
        </MatTableHeader>
        <MatTableRow>
            <td>@context.ContractNumber</td>
            <td>@context.DomesticNumber</td>
            <td>@context.Name</td>
        </MatTableRow>
    </MatTable>
}

@code {

    ContractsListVm ContractsList { get; set; }

    protected override async Task OnInitializedAsync()
    {
        ContractsList = await HttpClient.GetFromJsonAsync<ContractsListVm>("api/contract");
    }

    private void NavigateTo(int id)
    {
        NavigationManager.NavigateTo($"/contract/{id}/detail");
    }
}
