
.contract-table {
    height: 81vh;
    
}
.contract-table th{
    cursor: pointer;
}

    .contract-table .red-color {
        color: red;
        font: bold;
    }
    .contract-table .green-color {
        color: green;
        font: bold;
    }
