@page "/hardware/{id}/detail"

@using System.Text.Json
@using CheckerApp.Client.Shared.Hardwares.Details
@using CheckerApp.Shared.Common.JsonConverters

@inject HttpClient HttpClient

@if (Hardware == null)
{
    <div class="spinner"></div>
}
else
{
    <h3>@Hardware.HardwareType.GetDisplayName()</h3>

    <div class="">
        @switch (Hardware.HardwareType)
        {
            case HardwareType.Cabinet:
                <Cabinet Vm="(CabinetVm)Hardware"></Cabinet>
                break;
            case HardwareType.FlowComputer:
                <FlowComputer Vm="(FlowComputerVm)Hardware"></FlowComputer>
                break;
            case HardwareType.Flowmeter:
                <Flowmeter Vm="(FlowmeterVm)Hardware"></Flowmeter>
                break;
            case HardwareType.Network:
                <NetworkHardware Vm="(NetworkHardwareVm)Hardware"></NetworkHardware>
                break;
            case HardwareType.PLC:
                <PLC Vm="(PlcVm)Hardware"></PLC>
                break;
            case HardwareType.Pressure:
                <Measurement Vm="(MeasurementVm)Hardware"></Measurement>
                break;
            case HardwareType.Temperature:
                <Measurement Vm="(MeasurementVm)Hardware"></Measurement>
                break;
            case HardwareType.Valve:
                <Valve Vm="(ValveVm)Hardware"></Valve>
                break;
        }
    </div>
}

@code {

    [Parameter]
    public string Id { get; set; }

    HardwareVm Hardware { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var options = new JsonSerializerOptions { Converters = { new HardwareConverter() } };
        Hardware = await HttpClient.GetFromJsonAsync<HardwareVm>($"api/hardware/{int.Parse(Id)}", options);
    }
}
