@page "/"

<div class="alert section-header p-4 mat-elevation-z5 ">

    <h2 class="h2 border-bottom pb-2">Спасибо, что пользуетесь CheckerApp!</h2>
    <p class="font-weight-bold font-italic pb-4">Мы работаем, чтобы вы могли работать меньше.</p>

    <div class="scroller">
        <h5 class="pl-4 font-weight-bold pt-2 pb-4">Изменения в версии 1.0.3:</h5>
        <ol>
            <li><p>Добавлен новый тип оборудования - информационное табло</p></li>
            <li><p>Добавлен функционал всплывающих оповещений</p></li>
        </ol>

        <h5 class="pl-4 font-weight-bold pt-2 pb-4">Изменения в версии 1.0.2:</h5>
        <ol>
            <li><p>Добавлен новый тип оборудования - датчик загазованности</p></li>
            <li><p>Добавлен функционал сортировки для таблиц договоров, оборудования и ПО (клик ЛКМ на заголовок столбца)</p></li>
        </ol>

        <h5 class="pl-4 font-weight-bold pt-2 pb-4">Изменения в версии 1.0.1:</h5>
        <ol>
            <li><p>Исправлена ошибка, при которой некорректно добавлялся ИВК, если не указана дата последней конфигурации </p></li>
            <li><p>Исправлена ошибка при которой выпадающий список добавляемого оборудования не помещался в окне</p></li>
            <li><p>Добавлен новый тип оборудования - датчик перепада давления</p></li>
            <li><p>Добавлен функционал для импорта оборудования из файла Eplan (в текущей версии данная функция заблокирована)</p></li>
        </ol>

        <h5 class="pl-4 font-weight-bold pt-2 pb-4">Изменения в версии 1.0.0:</h5>
        <ol>
            <li><p>Редактирование параметров программного обеспечения</p></li>
            <li><p>Добавлена страница с информацией об аккаунте</p></li>
            <li><p>Добавлена страница с информацией об оборудовании</p></li>
            <li><p>Изменения в дизайне</p></li>
            <li><p>Исправлены мелкие ошибки</p></li>
        </ol>
    </div>
</div>