@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<AuthorizeView>
    <Authorized>
        <a class="mr-2" href="#"><span class="oi oi-person mr-2"></span> @context.User.FindFirst("full_name").Value</a>
        <button class="nav-link btn btn-link btn-outline-light" @onclick="BeginSignOut"><span class="oi oi-account-logout"></span> Выход</button>
    </Authorized>
    <NotAuthorized>
        <button class="nav-link btn btn-link btn-outline-light" @onclick="BeginSignIn"><span class="oi oi-account-login"></span> Вход</button>
    </NotAuthorized>
</AuthorizeView>

@code{
    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }

    private void BeginSignIn(MouseEventArgs args)
    {
        Navigation.NavigateTo("authentication/login");
    }
}
