@using Microsoft.AspNetCore.Components.Authorization

<AuthorizeView>
    <Authorized>
        <a class="mr-2" href="/account"><span class="oi oi-person mr-2"></span> @context.User.FindFirst("full_name").Value</a>
        <button class="nav-link btn btn-link btn-outline-light" @onclick="BeginSignOut"><span class="oi oi-account-logout"></span> Выход</button>
    </Authorized>
    <NotAuthorized>
        <button class="nav-link btn btn-link btn-outline-light" @onclick="BeginSignIn"><span class="oi oi-account-login"></span> Вход</button>
    </NotAuthorized>
</AuthorizeView>
