
<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href=""><span class="logo logo-left">Checker</span><span class="logo logo-right">App</span></a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Главная
            </NavLink>
        </li>
        <AuthorizeView Roles="Admin">
            <li class="nav-item px-3">
                <NavLink class="nav-link" style="cursor:pointer" @onclick="AddContract" Match="NavLinkMatch.All">
                    <span class="oi oi-document" aria-hidden="true"></span> Новый договор
                </NavLink>
            </li>
        </AuthorizeView>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="contracts" Match="NavLinkMatch.All">
                <span class="oi oi-list" aria-hidden="true"></span> Договоры
            </NavLink>
        </li>
        
        <AuthorizeView Roles="Admin, SuperUser">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="users" Match="NavLinkMatch.All">
                    <span class="oi oi-people" aria-hidden="true"></span> Пользователи
                </NavLink>
            </li>
        </AuthorizeView>
    </ul>
</div>
