<EditForm Model="@Contract" style="min-width:650px;" OnValidSubmit="Submit">
    <FluentValidationValidator />

    <div class="mb-2 row">
        <div class="col">
            <MatTextField @bind-Value="Contract.Name" Label="Название договора" Outlined="true" Style="width: 100%;" />
            <ValidationMessage For="(()=>Contract.Name)"></ValidationMessage>
        </div>
    </div>
    <div class="mb-2 row">
        <div class="col">
            <MatTextField @bind-Value="Contract.ContractNumber" Label="Номер договора" Outlined="true" Style="width: 100%;" />
            <ValidationMessage For="(()=>Contract.ContractNumber)"></ValidationMessage>
        </div>
    </div>
    <div class="mb-2 row">
        <div class="col">
            <MatTextField @bind-Value="Contract.DomesticNumber" Label="Внутренний номер договора" Outlined="true" Style="width: 100%;" />
            <ValidationMessage For="(()=>Contract.DomesticNumber)"></ValidationMessage>
        </div>
    </div>
    <div class="mb-2 row">
        <div class="col">
            <MatTextField @bind-Value="Contract.ProjectNumber" Label="Внутренний номер проекта" Outlined="true" Style="width: 100%;" />
            <ValidationMessage For="(()=>Contract.ProjectNumber)"></ValidationMessage>
        </div>
    </div>
    <hr />
    <div class="">
        <button class="btn btn-primary w-100 shadow" type="submit"><span class="oi oi-check"></span> Сохранить</button>
    </div>
</EditForm>
