@using CheckerApp.Client.Shared.Hardwares.Add

<EditForm Model="Command" style="min-width:800px;" OnValidSubmit="Submit">
    <FluentValidationValidator />

    <h5>Шаг 1. Выберите тип оборудования:</h5>

    <MatSelectItem @bind-Value="Command.HardwareType" Items="_hardwareTypes" Outlined="true" FullWidth="true">
        <ItemTemplate Context="type">@type.GetDisplayName()</ItemTemplate>
    </MatSelectItem>
    <hr />

    <div class="row">
        <div class="col">
            <h5>Шаг 2. Параметры оборудования:</h5>
            <div class="border p-2">
                @switch (Command.HardwareType)
                {
                    case HardwareType.Cabinet:
                        <AddCabinet @bind-Value="Command" />
                        break;

                    case HardwareType.FlowComputer:
                        <AddFlowComputer @bind-Value="Command" />
                        break;

                    case HardwareType.Flowmeter:
                        <AddFlowmeter @bind-Value="Command" />
                        break;

                    case HardwareType.Network:
                        <AddNetwork @bind-Value="Command" />
                        break;

                    case HardwareType.PLC:
                        <AddPLC @bind-Value="Command" />
                        break;

                    case HardwareType.Pressure:
                        <AddPressure @bind-Value="Command" />
                        break;

                    case HardwareType.Temperature:
                        <AddTemperature @bind-Value="Command" />
                        break;

                    case HardwareType.DiffPressure:
                        <AddPressure @bind-Value="Command" />
                        break;

                    case HardwareType.GasAnalyzer:
                        <AddGasAnalyzer @bind-Value="Command" />
                        break;

                    case HardwareType.Valve:
                        <AddValve @bind-Value="Command" />
                        break;
                    case HardwareType.ARM:
                        <AddARM @bind-Value="Command" />
                        break;
                }
            </div>
        </div>
        @if (Command.HardwareType == HardwareType.Network)
        {
            <div class="col">
                <h5>Подключенное оборудование:</h5>
                <div class="border p-2">
                    <div class="row">
                        <div class="col py-2">
                            <MatButton Type="button" @onclick="AddNetworkDevice" Raised="true" Style="width:100%;">Добавить</MatButton>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col table-container table-network">
                            <table class="table table-sm table-striped table-hover" style="min-width:500px;">
                                <thead>
                                    <tr>
                                        <th class="w-50">Название</th>
                                        <th class="w-25">IP</th>
                                        <th class="w-25">MAC-адрес</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Command.NetworkDevices)
                                    {
                                        <tr>
                                            <td class="w-50">@item.Name</td>
                                            <td class="w-25">@item.IP</td>
                                            <td class="w-25">@item.MacAddress</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        }
        else if (Command.HardwareType == HardwareType.Flowmeter || Command.HardwareType == HardwareType.Valve)
        {
            if (Command.SignalType == SignalType.RS485)
            {
                <div class="col-sm-4">
                    <h5>Шаг 3. Настройки Modbus</h5>
                    <ModbusSettings @bind-Value="Command.ModbusSettings" />
                </div>
            }
        }
    </div>
    <hr />
    <button class="btn btn-primary w-100 shadow" type="submit"><span class="oi oi-check"></span> Сохранить</button>

</EditForm>
