<EditForm Model="Command" style="min-width:500px;" OnValidSubmit="Submit">
    <FluentValidationValidator />

    <h5>Шаг 1. Выберите тип ПО:</h5>

    <MatSelectItem @bind-Value="Command.SoftwareType" Items="_softwareTypes" Outlined="true" FullWidth="true">
        <ItemTemplate Context="type">@type.GetDisplayName()</ItemTemplate>
    </MatSelectItem>

    <hr />

    <div class="mb-2 row">
        <div class="col">
            <MatTextField Label="Название" @bind-Value="Command.Name" Outlined="true" Style="width: 100%;"></MatTextField>
            <ValidationMessage For="()=> Command.Name"></ValidationMessage>
        </div>
    </div>
    <div class="mb-2 row">
        <div class="col">
            <MatTextField Label="Версия" @bind-Value="Command.Version" Outlined="true" Style="width: 100%;"></MatTextField>
            <ValidationMessage For="()=> Command.Version"></ValidationMessage>
        </div>
    </div>

    <hr />

    <button class="btn btn-primary w-100 shadow" type="submit"><span class="oi oi-check"></span> Сохранить</button>

</EditForm>
