<EditForm Model="Value" OnValidSubmit="Save" style="width: 500px">
    <FluentValidationValidator />

    <div class="row mb-2">
        <div class="col">
            <MatTextField Label="Название" @bind-Value="Value.Name" Outlined="true" Style="width:100%"></MatTextField>
            <ValidationMessage For="()=> Value.Name"></ValidationMessage>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col">
            <MatTextField Label="IP" @bind-Value="Value.IP" Outlined="true" Style="width:100%"></MatTextField>
            <ValidationMessage For="()=> Value.IP"></ValidationMessage>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col">
            <MatTextField Label="MAC-Address" @bind-Value="Value.MacAddress" Outlined="true" Style="width:100%"></MatTextField>
            <ValidationMessage For="()=> Value.MacAddress"></ValidationMessage>
        </div>
    </div>

    <hr />

    <div class="">
        <button class="btn btn-primary w-100 shadow" type="submit"><span class="oi oi-check"></span> Сохранить</button>
    </div>
</EditForm>