<EditForm Model="@Command" style="min-width:650px;" OnValidSubmit="Submit">
    <FluentValidationValidator />

    <div class="mb-2 row">
        <div class="col">
            <MatTextField @bind-Value="Command.Name" Label="Название договора" Outlined="true" Style="width: 100%;" />
            <ValidationMessage For="(()=>Command.Name)"></ValidationMessage>
        </div>
    </div>
    <div class="mb-2 row">
        <div class="col">
            <MatTextField @bind-Value="Command.ContractNumber" Label="Номер договора" Outlined="true" Style="width: 100%;" />
            <ValidationMessage For="(()=>Command.ContractNumber)"></ValidationMessage>
        </div>
    </div>
    <div class="mb-2 row">
        <div class="col">
            <MatTextField @bind-Value="Command.DomesticNumber" Label="Внутренний номер договора" Outlined="true" Style="width: 100%;" />
            <ValidationMessage For="(()=>Command.DomesticNumber)"></ValidationMessage>
        </div>
    </div>
    <div class="mb-2 row">
        <div class="col">
            <MatTextField @bind-Value="Command.ProjectNumber" Label="Внутренний номер проекта" Outlined="true" Style="width: 100%;" />
            <ValidationMessage For="(()=>Command.ProjectNumber)"></ValidationMessage>
        </div>
    </div>
    <hr />
    <div class="">
        <button class="btn btn-primary w-100 shadow" type="submit"><span class="oi oi-check"></span> Сохранить</button>
    </div>
</EditForm>