@using CheckerApp.Client.Shared.Hardwares.Edit

<EditForm Model="Command" style="min-width:800px;" OnValidSubmit="Submit">
    <FluentValidationValidator />

    <div class="row">
        @switch (Hardware.HardwareType)
        {
            case HardwareType.Cabinet:
                <EditCabinet Value="Command.Hardware"/>
                break;

            case HardwareType.FlowComputer:
                <EditFlowComputer Value="Command.Hardware"/>
                break;

            case HardwareType.Flowmeter:
                <EditFlowmeter Value="Command.Hardware"/>
                break;

            case HardwareType.Network:
                <EditNetwork Value="Command.Hardware"/>
                break;

            case HardwareType.PLC:
                <EditPLC Value="Command.Hardware"/>
                break;

            case HardwareType.Pressure:
            case HardwareType.DiffPressure:
            case HardwareType.GasAnalyzer:
            case HardwareType.Temperature:
                <EditMeasurement Value="Command.Hardware"/>
                break;

            case HardwareType.InformPanel:
                <EditInformPanel Value="Command.Hardware"/>
                break;

            case HardwareType.Valve:
                <EditValve Value="Command.Hardware"/>
                break;

            case HardwareType.ARM:
                <EditARM Value="Command.Hardware"/>
                break;
        }
    </div>
    <hr />

    <button class="btn btn-primary w-100 shadow" type="submit"><span class="oi oi-check"></span> Сохранить</button>

</EditForm>
