@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

/*---- Таблица ----*/
.table-container {
    overflow: auto;
    border-radius: 5px;
}

    .table-container.contract-table {
        height: 81vh;
    }

    .table-container.hardware-table {
        height: 54vh;
    }

.app-table {
    border-radius: 5px;
}
.app-table tbody tr{
    cursor:pointer;
}

    .app-table th {
        position: sticky;
        top: 0;
        z-index: 90;
        border-top: none;
    }
        .app-table th:first-child, .app-table td:first-child {
            padding-left: 1rem;
        }

    .app-table .btn {
        border-radius: 50px;
    }

    .app-table th:first-child {
        border-radius: 5px 0 0 0;
    }

    .app-table th:last-child {
        border-radius: 0 5px 0 0;
    }

/*---- Скроллер ----*/
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background-color: #d4d4d4;
}

::-webkit-scrollbar-thumb {
    background-color: #808080;
    border: 2px solid #d4d4d4;
    border-radius: 8px;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.spinner {
    border: 16px solid silver;
    border-top: 16px solid #337AB7;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 700ms linear infinite;
    top: 40%;
    left: 55%;
    position: absolute;
}

@keyframes spin {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

/* --- Фикс стилей валидации МатБлейзора*/

/*.validation-message {
    color: red !important;
}

.mdc-text-field--outlined .mat-text-field-input.mdc-text-field__input.invalid,
.mdc-text-field--outlined .mat-text-field-input.mdc-text-field__input.valid.modified {
    border-bottom: none !important;
}

.mdc-select__selected-text.invalid {
    border-bottom: none !important;
}*/

.invalid .mdc-notched-outline > .mdc-notched-outline__leading,
.invalid .mdc-notched-outline > .mdc-notched-outline__notch,
.invalid .mdc-notched-outline > .mdc-notched-outline__trailing {
    border-color: red !important;
}

/*.valid.modified .mdc-notched-outline > .mdc-notched-outline__leading,
.valid.modified .mdc-notched-outline > .mdc-notched-outline__notch,
.valid.modified .mdc-notched-outline > .mdc-notched-outline__trailing {
    border-color: green !important;
}

.invalid + i + .mdc-notched-outline > .mdc-notched-outline__leading,
.invalid + i + .mdc-notched-outline > .mdc-notched-outline__notch,
.invalid + i + .mdc-notched-outline > .mdc-notched-outline__trailing {
    border-color: red !important;
}

.valid.modified + i + .mdc-notched-outline > .mdc-notched-outline__leading,
.valid.modified + i + .mdc-notched-outline > .mdc-notched-outline__notch,
.valid.modified + i + .mdc-notched-outline > .mdc-notched-outline__trailing {
    border-color: green !important;
}*/
