@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background: #dce9ef;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Roboto !important;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.loading {
    color: Highlight;
    padding: 1.5rem;
    font-family: Roboto;
    font-size: 2rem;
}

    .loading .spinner-border {
        font-size: 1rem;
    }

.content {
    padding-top: 1.1rem;
}

.section-header {
    background-color: #fafbfd;
    color: #000;
}

/*---- Таблица ----*/
.table-container {
    overflow: auto;
    border-radius: 5px;
    background: #fafbfd;
}

.app-table {
    border-radius: 5px;

}

    .app-table thead th {
        background-color: #00356a;
        border-color: #454d55;
        color: white;
        white-space: nowrap;
        position: sticky;
        top: 0;
        z-index: 90;
        border-top: none;
    }

    .app-table tbody tr {
        cursor: pointer;
    }

        .app-table tbody tr th:first-child, .app-table tbody tr td:first-child {
            padding-left: 1rem;
        }

        .app-table tbody tr th:first-child {
            border-radius: 5px 0 0 0;
        }

        .app-table tbody tr th:last-child {
            border-radius: 0 5px 0 0;
        }

    .app-table .btn {
        border-radius: 50px;
    }

/*---- Скроллер ----*/
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background-color: #d4d4d4;
}

::-webkit-scrollbar-thumb {
    background-color: #808080;
    border: 2px solid #d4d4d4;
    border-radius: 8px;
}

/*---- Модальные окна ----*/
.blazored-modal {
    border: 1px solid #3286aa;
    padding: 0;
    /*overflow: hidden;*/
    border-radius: 5px;
}

    .blazored-modal .blazored-modal-header {
        padding: 0.7rem 1.5rem;
        background-color: #00356a;
        border-radius: 5px;
        color: white;
    }

        .blazored-modal .blazored-modal-header .blazored-modal-title {
            font-family: Roboto;
        }

        .blazored-modal .blazored-modal-header .blazored-modal-close {
            color: white;
        }

    .blazored-modal .blazored-modal-content {
        padding: 1.5rem;
    }

/*---- Прочее ----*/
#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.spinner {
    border: 16px solid silver;
    border-top: 16px solid #337AB7;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 700ms linear infinite;
    top: 40%;
    left: 55%;
    position: absolute;
}

@keyframes spin {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

/* --- Фикс стилей валидации МатБлейзора*/

/*.validation-message {
    color: red !important;
}

.mdc-text-field--outlined .mat-text-field-input.mdc-text-field__input.invalid,
.mdc-text-field--outlined .mat-text-field-input.mdc-text-field__input.valid.modified {
    border-bottom: none !important;
}

.mdc-select__selected-text.invalid {
    border-bottom: none !important;
}*/

.invalid .mdc-notched-outline > .mdc-notched-outline__leading,
.invalid .mdc-notched-outline > .mdc-notched-outline__notch,
.invalid .mdc-notched-outline > .mdc-notched-outline__trailing {
    border-color: red !important;
}

/*.valid.modified .mdc-notched-outline > .mdc-notched-outline__leading,
.valid.modified .mdc-notched-outline > .mdc-notched-outline__notch,
.valid.modified .mdc-notched-outline > .mdc-notched-outline__trailing {
    border-color: green !important;
}

.invalid + i + .mdc-notched-outline > .mdc-notched-outline__leading,
.invalid + i + .mdc-notched-outline > .mdc-notched-outline__notch,
.invalid + i + .mdc-notched-outline > .mdc-notched-outline__trailing {
    border-color: red !important;
}

.valid.modified + i + .mdc-notched-outline > .mdc-notched-outline__leading,
.valid.modified + i + .mdc-notched-outline > .mdc-notched-outline__notch,
.valid.modified + i + .mdc-notched-outline > .mdc-notched-outline__trailing {
    border-color: green !important;
}*/
