<div class="col">
    <div class="border p-2">
        <div class="row mb-2">
            <div class="col">
                <MatTextField Label="Позиция по проекту" @bind-Value="Value.Position" Outlined="true" Style="width: 100%;"></MatTextField>
                <ValidationMessage For="()=> Value.Position"></ValidationMessage>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col">
                <MatTextField Label="Серийный номер" @bind-Value="Value.SerialNumber" Outlined="true" Style="width: 100%;"></MatTextField>
                <ValidationMessage For="()=> Value.SerialNumber"></ValidationMessage>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col">
                <MatTextField Label="Модель контроллера" @bind-Value="((FlowComputerVm)Value).DeviceModel" Outlined="true" Style="width: 100%;"></MatTextField>
                <ValidationMessage For="()=> ((FlowComputerVm)Value).DeviceModel"></ValidationMessage>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col">
                <MatTextField Label="IP адрес" @bind-Value="((FlowComputerVm)Value).IP" Outlined="true" Style="width: 100%;"></MatTextField>
                <ValidationMessage For="()=> ((FlowComputerVm)Value).IP"></ValidationMessage>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col">
                <MatTextField Label="Версия сборки" @bind-Value="((FlowComputerVm)Value).AssemblyVersion" Outlined="true" Style="width: 100%;"></MatTextField>
                <ValidationMessage For="()=> ((FlowComputerVm)Value).AssemblyVersion"></ValidationMessage>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col">
                <MatTextField Label="Контрольная сумма" @bind-Value="((FlowComputerVm)Value).CRC32" Outlined="true" Style="width: 100%;"></MatTextField>
                <ValidationMessage For="()=> ((FlowComputerVm)Value).CRC32"></ValidationMessage>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <MatNumericUpDownField Label="Дата последней конфигурации" @bind-Value="((FlowComputerVm)Value).LastConfigDate"
                                       DecimalPlaces="0" Outlined="true" Style="width: 100%;"></MatNumericUpDownField>
                <ValidationMessage For="()=> ((FlowComputerVm)Value).LastConfigDate"></ValidationMessage>
            </div>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public HardwareVm Value { get; set; }

    [Parameter]
    public EventCallback<HardwareVm> ValueChanged { get; set; }
}
