<div class="col">
    <div class="border p-2">
        <div class="row mb-2">
            <div class="col">
                <MatTextField Label="Позиция по проекту" @bind-Value="Value.Position" Outlined="true" Style="width:100%"></MatTextField>
                <ValidationMessage For="()=> Value.Position"></ValidationMessage>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col">
                <MatTextField Label="Серийный номер" @bind-Value="Value.SerialNumber" Outlined="true" Style="width:100%"></MatTextField>
                <ValidationMessage For="()=> Value.SerialNumber"></ValidationMessage>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col">
                <MatTextField Label="Тип прибора" @bind-Value="((MeasurementVm)Value).DeviceType" Outlined="true" Style="width:100%"></MatTextField>
                <ValidationMessage For="()=> ((MeasurementVm)Value).DeviceType"></ValidationMessage>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col">
                <MatTextField Label="Модель прибора" @bind-Value="((MeasurementVm)Value).DeviceModel" Outlined="true" Style="width:100%"></MatTextField>
                <ValidationMessage For="()=> ((MeasurementVm)Value).DeviceModel"></ValidationMessage>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col">
                <MatNumericUpDownField Label="Нижний предел измерений" @bind-Value="((MeasurementVm)Value).MinValue" DecimalPlaces="1" Outlined="true" Style="width:100%"></MatNumericUpDownField>
                <ValidationMessage For="()=> ((MeasurementVm)Value).MinValue"></ValidationMessage>
            </div>
            <div class="col">
                <MatNumericUpDownField Label="Верхний предел измерений" @bind-Value="((MeasurementVm)Value).MaxValue" DecimalPlaces="1" Outlined="true" Style="width:100%"></MatNumericUpDownField>
                <ValidationMessage For="()=> ((MeasurementVm)Value).MaxValue"></ValidationMessage>
            </div>
            <div class="col">
                @if (Value.HardwareType == HardwareType.Pressure || Value.HardwareType == HardwareType.DiffPressure)
                {
                    <MatSelectItem Label="Единицы измерения" @bind-Value="((MeasurementVm)Value).EU" Outlined="true" FullWidth="true" Items="euArray">
                        <ItemTemplate Context="eu">@eu</ItemTemplate>
                    </MatSelectItem>
                }
                else if(Value.HardwareType == HardwareType.GasAnalyzer)
                {
                    <MatSelect Label="Единицы измерения" @bind-Value="((MeasurementVm)Value).EU" Outlined="true" FullWidth="true">
                        <MatOptionString Value="%">%</MatOptionString>
                    </MatSelect>
                }
                else
                {
                <MatSelect Label="Единицы измерения" @bind-Value="((MeasurementVm)Value).EU" Outlined="true" FullWidth="true">
                    <MatOptionString Value="Град С.">Град С.</MatOptionString>
                </MatSelect>
                }
            </div>
        </div>
        <div class="row">
            <div class="col">
                <MatSelectItem @bind-Value="((MeasurementVm)Value).SignalType" Label="Способ подключения" Outlined="true" FullWidth="true" Items="signals">
                    <ItemTemplate Context="signal">@signal.GetDisplayName()</ItemTemplate>
                </MatSelectItem>
            </div>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public HardwareVm Value { get; set; }

    [Parameter]
    public EventCallback<HardwareVm> ValueChanged { get; set; }

    private string[] euArray = { "МПа", "кПа", "кгс/м2" };

    private SignalType[] signals = Enum.GetValues(typeof(SignalType)).Cast<SignalType>().ToArray();
}
